body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 19px;
}

h1 {
  font-size: 28px;
}

h1, p { text-align: center; }

table.sudoku {
  border: 3px solid #2dcfb4;
  border-collapse: collapse;
  margin: 12px auto;

}

td {
  height: 2.5em;
  width: 2.5em;
  border: 1px solid #CCC;
  text-align: center;
  outline: none;
}

td input {
  font-size: 1.5em;
  cursor: pointer;
  width: 1.5em;
  border: none;
  text-align: center;
  outline: none;
}

td input:focus {
  height: 1.5em;
  width: 1.5em;
  box-shadow: inset 0 0 5px #2dcfb4, 0 0 3px #2dcfb4
}

td:nth-child(3n) {
  border-right: 3px solid #2dcfb4;
}

tr:nth-child(3n) {
  border-bottom: 3px solid #2dcfb4;
}


.KeyBoard {
  color:  black;
  width: 2em;
  font-size: 1.5em;
  padding: 10px;
  margin: 5px;
  background-color: white;
  display: inline-block;
  border: 2.5px solid  #2dcfb4;
  transition-property: all;
  cursor: pointer;
}

.KeyBoard button:hover {
  color: white;
  background-color: #2dcfb4;
}